certifi==2018.11.29
chardet==3.0.4
Click==7.0
colorama==0.4.1
Flask==1.1.1
httpie==1.0.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
Pillow==6.1.0
pipenv==2018.11.26
Pygments==2.3.1
requests==2.21.0
urllib3==1.24.2
virtualenv==16.7.9
virtualenv-clone==0.5.3
Werkzeug==1.0.0
